body {
  background-color: rgb(230, 230, 250);
}

#title {
  color: #888888;
}

#body-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  position: relative;
}

#header-bar {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 0px;
  top: 0px;
  background-color: rgb(37, 170, 246);
}

#title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

#icon-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

h1 {
  font-size: 30px;
}


h2 {
  margin-left: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

#linkedin-icon {
  width: 40px;
  height: 40px;
  margin-left: 8px;
}

#button-bar {
  display: flex;
  width: 100vw;
  background-color: rgba(37, 169, 246, 0.849);
  height: 50px;
  align-items: center;
}

#start-form {
  display: flex;
  align-items: center;
  position: relative;
}

#start-label {
  margin-left: 20px;
  font-size: 16px;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-input {
  margin-left: 10px;
  width: 200px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgba(37, 169, 246, 0.849);
  background-color: rgba(37, 169, 246, 0.849);
  color: azure;
  text-align: center;
  outline: none;
  position: relative;
}

#start-input-error {
  width: 250px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 35px;
  background-color: rgb(212, 82, 115);
  color: aliceblue;
  border-radius: 5px;
  z-index: 3;
  display: none;
}

#start-input:focus {
  border: 1px solid rgba(200,200,200,0.8);
}

.button {
  width: 100px;
  height: 30px;
  margin-left: 5px;
  border: 0px;
  border-radius: 3px;
  background-color: rgba(61, 177, 245, 0.849);
  color: azure;
  outline: none;
}

.button:hover {
  background-color: rgba(46, 161, 228, 0.849);
}

#reset-button {
  margin-right: 20px;
}

#canvas-box {
  display: flex;
  flex-grow: 1;
  width: 100vw;
}

#canvas1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#canvas2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
}

#info-box {
  background-color: rgba(173, 173, 199, 0.6);
  width: 20vw;
  min-height: 80vh;
  min-width: 250px;
  border-radius: 0px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  bottom: 2px;
  overflow: hidden;
}

#info-title {
  margin: 30px 10px 10px 10px;
  font-size: 20px;
}

#info-text {
  margin: 30px 20px 20px 20px;
  z-index: -3;
}