@media only screen and (max-width: 500px) {
  h2 {
    display: none;
  }

  #start-input {
    width: 150px;
  }

  #info-box {
    display: none;
  }

  #info-button {
    display: none;
  }

  #help-button {
    display: none;
  }

  .info-show {
    display: none;
  }

  .info-hide {
    display: none;
  }

  #instructions-container {
    display: none;
  }
}

@media only screen and (max-height: 500px) {
  #info-title {
    margin-top: 5px;
  }

  #info-text {
    font-size: 6px;
    margin-top: 5px;
  }

  #help-button {
    display: none;
  }

  #instructions-container {
    display: none;
  }
}
